<script async defer src="https://cdn.jsdelivr.net/npm/altcha/dist/altcha.min.js" type="module"></script>


<altcha-widget 
    challengejson="{{ challengejson }}"
    floating
    hidelogo
    hidefooter

    style="
        --altcha-border-width: 0px;
        --altcha-border-radius: 1rem;
        --altcha-color-base: #ffffff;
        --altcha-color-border: #ffffff;
        --altcha-color-text: black;
        --altcha-color-border-focus: currentColor;
        --altcha-color-error-text: #f23939;
        --altcha-color-footer-bg: #f4f4f4;
        --altcha-max-width: 260px;
    "
></altcha-widget>
