{% extends "base.html" %}

{% block title %}Repetio AI{% endblock %}


{% block head %}
<script src="https://kit.fontawesome.com/5d2f2b8369.js" crossorigin="anonymous"></script>

<!-- Styles for Nav Items. Twind does not work here beacause JS is toggeling classes wich Twind seems to not support-->
<style>
    .nav-item {
        background-color: transparent;
        padding: 8px 16px;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .nav-item:hover {
        background-color: #d1d5db;
    }
    .nav-item.selected {
        background-color: #eef2ff;
    }
</style>

{% endblock %}


{% block body %}
<body class="min-h-screen flex">
    <div class="min-h-screen p-3 space-y-2 w-48 flex flex-col justify-between">

        <div class="flex items-center p-2 space-x-4">
            <img class="mx-auto h-10 w-auto" src="{{ url_for('static', filename='logo/simple.svg') }}" alt="repetio ai">   
        </div>

        <div class="pt-2 pb-4 space-y-1 text-sm">

            <a id="dash_compose" class="nav-item" hx-get="{{ url_for('dash_compose') }}" hx-on:click="navItemsStyleChange('dash_compose')" hx-swap="innerHTML" hx-target="#dash_main_window">
                <div class="flex flex-col items-center p-2 space-x-3 rounded-md">
                    <span>4k / 20k</span>
                    <span>Tokens left</span>
                    <span>renews in 7 days</i></span>
            </div></a>

            <a id="dash_compose" class="nav-item" hx-get="{{ url_for('dash_compose') }}" hx-on:click="navItemsStyleChange('dash_compose')" hx-swap="innerHTML" hx-target="#dash_main_window">
                <div class="flex items-center p-2 space-x-3 rounded-md">
                    <i class="fa-solid fa-plus"></i>
                    <span>Compose</span>
            </div></a>
            
            <a id="dash_history" class="nav-item" hx-get="{{ url_for('dash_history') }}" hx-on:click="navItemsStyleChange('dash_history')" hx-swap="innerHTML" hx-target="#dash_main_window">
                <div class="flex items-center p-2 space-x-3 rounded-md">
                    <i class="fa-solid fa-list"></i>
                    <span>History</span>
            </div></a>

            <a id="dash_help" class="nav-item" hx-get="{{ url_for('dash_help') }}" hx-on:click="navItemsStyleChange('dash_help')" hx-swap="innerHTML" hx-target="#dash_main_window">
                <div class="flex items-center p-2 space-x-3 rounded-md">
                    <i class="fa-solid fa-life-ring"></i>
                    <span>Help</span>
            </div></a>
        </div>

        <div class="pt-4 pb-2 space-y-1 text-sm">
            <a id="dash_account" class="nav-item" hx-get="{{ url_for('dash_account') }}" hx-on:click="navItemsStyleChange('dash_account')" hx-swap="innerHTML" hx-target="#dash_main_window">
                <div class="flex items-center p-2 space-x-3 rounded-md">
                    <i class="fa-solid fa-user"></i>
                    <span>Account</span>
                </div>
            </a>
            <a class="nav-item" href="{{ url_for('auth_logout')}}">
                <div class="flex items-center p-2 space-x-3 rounded-md">
                    <i class="fa-solid fa-door-open"></i>
                    <span>Sign out</span>
            </div></a>
        </div>
    </div>

    {# Window Container #}
    <div class="h-screen w-full max-w-full p-1.5">
        <div id="dash_main_window" class="h-full w-full max-w-full bg-gray-100 rounded-lg">
            <div hx-get="{{ url_for(current_window) }}" hx-swap="outerHTML" hx-trigger="load"></div>
        </div>
    </div>


    <script>
        function navItemsStyleChange(navItemId) {
            const navItemIds = ['dash_compose', 'dash_history', 'dash_help', 'dash_account'];
    
            navItemIds.forEach(id => {
                const navItem = document.getElementById(id);
                if (id === navItemId) {
                    navItem.classList.add('selected');
                } else {
                    navItem.classList.remove('selected');
                }
            });
        }
    
        document.addEventListener("DOMContentLoaded", function() {
            const currentNavItem = "{{ current_window }}";
            navItemsStyleChange(currentNavItem);
        });
    </script>
{% endblock %}