{% extends "dash/windows/base.html" %}

{% block content %}

<section class="">
    <div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
        <div class="divide-y">
            <div class="py-6 space-y-2 flex flex-col">
                <h2 class="text-2xl font-semibold">Contact us</h2>
                <div class="py-6 space-y-5">
                    <p>If you need any help, have questions, want to report bugs, have feature requests or have any other concerns, please contact us via the email below. We are here to assist you with any questions or issues you may encounter.</p>
                    <a href="mailto:contact@repetioai.com" class="w-[200px] flex justify-center rounded-2xl bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    >Email us</a>
                </div>
            </div>
            <div class="py-6 space-y-2 flex flex-col">
                <h2 class="text-2xl font-semibold">How to change your time zone</h2>
                <div class="py-6 space-y-5">
                    <p> 
                        Your timezone is updated on every login and synced to the timezone of your browser. If you need to update your time zone, just log out and then log in again.
                    </p>
                </div>
            </div>
            <div class="py-6 space-y-2 flex flex-col">
                <h2 class="text-2xl font-semibold">Negative Token Balance</h2>
                <div class="py-6 space-y-5">
                    <p> 
                        We allow users to maintain a negative token balance as a courtesy, ensuring text compositions can be completed without immediate interruption. However, if your balance becomes negative, you won't be able to start new compositions until you add funds and restore a positive balance.<br><br> 

                        To prevent abuse, if the negative balance exceeds a specific threshold, the composition may be stopped midway and delivered incomplete. To avoid this, we recommend keeping your token balance sufficiently funded for the expected length of your composition.<br><br> 

                        Unfortunately, predicting the exact token usage for a composition is not reliably possible, so we cannot warn you in advance if your balance is insufficient. As a rough estimate, expect one token to correspond to approximately 0.75 words (counting both the prompt and the response).<br><br> 
                    </p>
                </div>
            </div>
            <div class="py-6 space-y-2 flex flex-col">
                <h2 class="text-2xl font-semibold">More to come...</h2>
                <div class="py-6 space-y-5">
                    <p>
                        We intend to add content to this page in the near future. Content in this section will be continually updated to provide you with all the information you need. We intend to add general guidelines, useful information, and more based on feedback from our users.<br><br> 
                        For now, if you have any questions, feel free to contact us at our email address at any time. We'll try to get back to you as soon as possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}