{% extends "dash/windows/base.html" %}

{% block content %}

<section class="max-w-full w-full px-4 py-8 md:p-8">
    <div class="flex flex-col items-center justify-center gap-4 whitespace-nowrap mb-12">
        {% set number, unit, title, subtitle = token_balance, 'Tokens', 'AVAILABLE IN YOUR ACCOUNT', ''%}
        {% include 'elements/displays/number_card.html'%}

        {% set href, text = '', 'Get More Tokens' %}
        {% include 'elements/buttons/href_button.html'%}
    </div>
    <div hx-get="{{ url_for('comp_tokens_transactions_batch', n=1)}}" hx-trigger="load" hx-swap="outerHTML"></div>
 
</section>




{% endblock %}