{% extends "dash/windows/base.html" %}

{% block content %}

<section class="max-w-full w-full px-4 py-8 md:p-8">
    <div class="divide-y">
        <div class="pt-6 space-y-5 pb-8">
            <h2 class="text-2xl font-semibold">Active Plan</h2>
            <div hx-get="{{ url_for('comp_token_page_subscription_status')}}" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        {#<div id="history-input-container" class="py-6 space-y-2 flex flex-col ">
            <h2 class="text-2xl font-semibold">Past Plans</h2>
            <div hx-get="{{ url_for('comp_request_history_cards_batch', n=1)}}" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>#}
    </div>
</section>




{% endblock %}